.container{
    margin: 0 auto;
}
.row{
    padding-top: 20px;
    padding-bottom: 30px;
    margin-left: 15%;
    margin-right: 15%;
}
.col{
    display: inline-block;
    position: relative;
}
.green{
    border: 1px solid black;
    background-color: green;
    position: absolute;
    top:0;
    right: 0;
}
 
.red{
    border: 1px solid black;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
}
